
<p>
  <b>Name:</b>
  <%= @article.name %>
</p>

<p>
  <b>Description:</b>
  <%= @article.description %>
</p>

<% if can? :update, @article %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>
